* {
--main_dark_blue: hsl(217, 54%, 11%);
--card_dark_blue: hsl(216, 50%, 16%);
--line_blue: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
--softblue:hsl(215, 51%, 70%);
--cyan: hsl(178,100%,50%);
}


body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main_dark_blue);
    gap: 4rem;
    min-height: 100vh;
}

#container {
    max-width: 375px;
    background-color: var(--card_dark_blue);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

}

nav {  /* used cyan color to show when the image is hovered */
    width: 325px;
    height: 325px;
    margin-top: 1.5rem;
    border-radius: 0.7rem;
    background-color: var(--cyan);
}

#logo {
    width: 325px;
    border-radius: 0.5rem;
}

#logo:hover{
    background-color: var(--cyan);
    cursor: pointer;
    opacity: 0.5;
}

nav {
    align-self: center;
}

#title h1 {
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

#title h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

#title p {
    color: var(--softblue);
    margin: 1.5rem 1.5rem 0 1.5rem;
     
}

#time {
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;   
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--line_blue);
}

#time h2 {
    color: var(--cyan);
    font-weight: 400;
    font-size: 1rem;
    align-self: center;
}

#ethereum img {
    width: 0.7rem;
    height: 1rem;
    align-self: center;
}

#ethereum {
    display: flex;
    flex-direction: row;
}

#clock {
    display: flex;
    flex-direction: row;
}

#clock img {
    height: 1rem;
    align-self: center;
}

#time p {
    color: var(--softblue);
    align-self: center;

}

#creator-name {
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto 1rem 1.5rem ;
    align-items: center;
}

#creator-name img {
   border: 1px solid hsl(0,0%,100%);
   border-radius: 50%;
   width: 40px;
   height: auto;
}

#creator-name p {
    margin-left: 16px;
    color: var(--softblue);
}

span {
    color: var(--white);
}

span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }